USE [master]
GO
/****** Object:  Database [Vendas]    Script Date: 12/03/2023 23:27:14 ******/
CREATE DATABASE [Vendas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vendas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Vendas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Vendas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Vendas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vendas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vendas]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 12/03/2023 23:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[codigocli] [int] IDENTITY(1,1) NOT NULL,
	[nomecli] [varchar](100) NOT NULL,
	[cpfcli] [varchar](11) NOT NULL,
	[statuscli] [varchar](10) NOT NULL,
	[datanasccli] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigocli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cpfcli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fornecedores]    Script Date: 12/03/2023 23:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fornecedores](
	[codigoForn] [int] IDENTITY(1,1) NOT NULL,
	[nomefantasiaforn] [varchar](100) NOT NULL,
	[razaosocialforn] [varchar](150) NOT NULL,
	[cnpjforn] [varchar](14) NOT NULL,
	[statusforn] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigoForn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cnpjforn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produtos]    Script Date: 12/03/2023 23:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtos](
	[codigoprod] [int] IDENTITY(1,1) NOT NULL,
	[descricaoprod] [varchar](100) NOT NULL,
	[precounitprod] [decimal](10, 2) NOT NULL,
	[fornprod] [int] NOT NULL,
	[statusprod] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigoprod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendas]    Script Date: 12/03/2023 23:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendas](
	[numvenda] [int] IDENTITY(1,1) NOT NULL,
	[codigocli] [int] NOT NULL,
	[datavenda] [datetime] NULL,
	[totalvenda] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numvenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendasitens]    Script Date: 12/03/2023 23:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendasitens](
	[numvenda] [int] NOT NULL,
	[codigoprod] [int] NOT NULL,
	[precounitvenda] [decimal](10, 2) NOT NULL,
	[quantidadevenda] [decimal](10, 2) NOT NULL,
	[totalproduto] [decimal](15, 2) NOT NULL,
	[statusvendas] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numvenda] ASC,
	[codigoprod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[vendas] ADD  DEFAULT (getdate()) FOR [datavenda]
GO
ALTER TABLE [dbo].[produtos]  WITH CHECK ADD  CONSTRAINT [FK_produtos_fornecedores] FOREIGN KEY([fornprod])
REFERENCES [dbo].[fornecedores] ([codigoForn])
GO
ALTER TABLE [dbo].[produtos] CHECK CONSTRAINT [FK_produtos_fornecedores]
GO
ALTER TABLE [dbo].[vendas]  WITH CHECK ADD  CONSTRAINT [FK_VendasClientes] FOREIGN KEY([codigocli])
REFERENCES [dbo].[clientes] ([codigocli])
GO
ALTER TABLE [dbo].[vendas] CHECK CONSTRAINT [FK_VendasClientes]
GO
ALTER TABLE [dbo].[vendasitens]  WITH CHECK ADD  CONSTRAINT [FK_VendasItensProdutos] FOREIGN KEY([codigoprod])
REFERENCES [dbo].[produtos] ([codigoprod])
GO
ALTER TABLE [dbo].[vendasitens] CHECK CONSTRAINT [FK_VendasItensProdutos]
GO
ALTER TABLE [dbo].[fornecedores]  WITH CHECK ADD  CONSTRAINT [CK_fornecedores_status] CHECK  (([statusforn]='Inativo' OR [statusforn]='Ativo'))
GO
ALTER TABLE [dbo].[fornecedores] CHECK CONSTRAINT [CK_fornecedores_status]
GO
ALTER TABLE [dbo].[produtos]  WITH CHECK ADD  CONSTRAINT [CK_produtos_precounit] CHECK  (([precounitprod]>(0)))
GO
ALTER TABLE [dbo].[produtos] CHECK CONSTRAINT [CK_produtos_precounit]
GO
ALTER TABLE [dbo].[produtos]  WITH CHECK ADD  CONSTRAINT [CK_produtos_status] CHECK  (([statusprod]='Inativo' OR [statusprod]='Ativo'))
GO
ALTER TABLE [dbo].[produtos] CHECK CONSTRAINT [CK_produtos_status]
GO
USE [master]
GO
